<!DOCTYPE html>
<html>

<head>
    <title>Driver Drowsiness Detection</title>

   
</head>

<body>   
    <h2>Driver Drowsiness Detection System</h2>  
    <p>Press the button to start the application and q to stop the application</p>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
        function(data) { }); return false; }); }); </script>      
        <input type = "button" id = "mybutton" value = "Start" />
</body>    

</html>